<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="TestHelper.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         verbose="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuite name="shop_products">
        <directory>./</directory>
        <exclude>../app/vendor</exclude>
    </testsuite>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true"
                   processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../app</directory>
            <exclude>
                <directory suffix=".php">../app/modules/cli</directory>
                <directory suffix=".php">../app/modules/api/*/config</directory>
                <directory suffix=".php">../app/migrations</directory>
                <directory suffix=".php">../app/config</directory>
                <directory suffix=".php">../app/vendor</directory>
                <file>../app/bootstrap_cli.php</file>
                <file>../app/bootstrap_web.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>